<div class="card bg-light">
  <div class="card-header">{{ titulo }}: {{ factura.descripcion }}</div>
  <div class="card-body">
    <h4 class="card-title">
      <button class="btn btn-primary btn-xs mb-3" [routerLink]="['/clientes']">
        Volver
      </button>
    </h4>
    <form>
      <div class="form-group row mb-3" *ngIf="factura.cliente">
        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            disabled
            name="cliente"
            value="{{ factura.cliente?.nombre }} {{
              factura.cliente?.apellido
            }}"
          />
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="descripcion" class="col-sm-2 col-form-label"
          >Descripción</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="descripcion"
            [(ngModel)]="factura.descripcion"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Observación</label>
        <div class="col-sm-6">
          <textarea
            class="form-control"
            name="observacion"
            [(ngModel)]="factura.observacion"
          ></textarea>
        </div>
      </div>
      <div class="form-group row mt-4">
        <div class="col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>Añadir producto</mat-label>
            <input
              type="text"
              placeholder="Añadir producto"
              matInput
              [formControl]="autoCompleteControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="mostrarNombre"
              (optionSelected)="seleccionarProducto($event)"
            >
              <mat-option
                *ngFor="let producto of productosFiltrados | async"
                [value]="producto"
              >
                {{ producto.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items">
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.producto.precio }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.calcularImporte() }}</td>
          </tr>
        </tbody>
      </table>

      <div class="form-group row">
        <div class="col-sm-6">
          <input
            type="submit"
            value="Crear Factura"
            class="btn btn-success mt-3"
          />
        </div>
      </div>
    </form>
  </div>
</div>
